.error-panel {
  display: flex;
  flex-direction: column;
  height: $screenHeight;

  justify-content: center;

  .container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    display: flex;
    background-color: white;
    border-radius: 12px;
    box-shadow: 2px 5px 25px 0px rgba(0, 0, 0, 0.77);
    overflow: hidden;
    padding: 30px 30px;
    min-height: 50%;
    justify-content: center;
    align-items: center;

    .text {
      font-size: 50px;
      text-align: center;
    }

    .button {
      text-transform: uppercase;
      font-family: $fontBold;
      font-size: 40px;
      color: white;
      border-radius: 10px;
      padding: 10px 20px;
      border-right: 3px solid #444;
      border-bottom: 3px solid #444;
      border-left: 3px solid rgba(0, 0, 0, 0);
      border-top: 3px solid rgba(0, 0, 0, 0);
      text-align: center;
      background-color: #02ac1a;
      width: 250px;
      margin-top: 30px;
    }
  }
}
