@font-face {
  font-family: Pangram-Regular;
  src: url("/fonts/Pangram-Regular.otf") format("opentype");
}

@font-face {
  font-family: Pangram-Bold;
  src: url("/fonts/Pangram-Bold.otf") format("opentype");
}
